@import './theme.scss';

.congrats-Wrapper {
	grid-area: 2/2/4/4;
	height: 31vw;
	z-index: 20;
	width: 64vw;
	margin-top: -1vw;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, 25%);
	border-radius: 0.24vw;
	@include themify($themes) {
		background: themed('celebrate-mainBackground');
	}
	.huzzah {
		grid-area: 1/1/3/5;
		display: inline-flex;
		justify-content: center;
		align-items: flex-start;
		.huzzah-h1 {
			@include themify($themes) {
				border: solid themed('black-to-white');
				color: themed('black-to-white');
			}
			.callBack_Style {
				padding: 0 1vw;
				@include themify($themes) {
					background: themed('celebrate-secondary-background');
					color: themed('white-to-black');
				}
			}
		}
	}
	.replay-Wrapper {
		grid-area: 4/2/5/4;
		display: inline-flex;
		justify-content: center;
		align-items: flex-end;
		.replay {
			width: 9vw;
			height: 2vw;
			margin-bottom: 1vw;
			@include themify($themes) {
				background: themed('white-to-black');
				color: themed('black-to-white');
			}
		}
	}
	.iHeartU {
		grid-area: 2/2/3/4;
		z-index: 1;
		width: 21vw;
		margin-top: -2vw;
		margin-left: 5.52vw;
		.svgHeart {
			stroke: black;
			fill: #5adbff;
			@include themify($themes) {
				stroke: themed('black-to-white');
				fill: themed('celebrate-heartFill');
			}
		}
	}
	.score {
		grid-area: 2/2/4/4;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		font-size: 2vw;
		.total {
			padding: 0 1vw;
			font-size: 2.5vw;
			max-width: 12vw;
			height: auto;
			border-radius: 0.1vw;
			@include themify($themes) {
				background: themed('celebrate-secondaryBackground');
				color: themed('black-to-white');
				box-shadow: 0 0 1vw themed('celebrate-boxShadowColor');
				border: solid themed('celebrate-borderColor');
			}
		}
	}
	.confettiCannon {
		grid-area: 3/2/4/4;
		display: inline-flex;
		justify-content: center;
		z-index: 1;
	}
	.winner-appear {
		opacity: 0.01;
	}

	.winner-appear.winner-appear-active {
		opacity: 1;
		transition: opacity 0.5s ease-in;
	}
}
