.number-wrapper {
	grid-area: 2/2/4/4;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, 25%);
}
.count-wrapper {
	position: absolute;
	right: 20.5vw;
	top: 26vh;
	font-size: 0.7vw;
	width: 15vw;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
}
.count {
	margin: 0;
	font-size: 1.5vw;
}
.three {
	grid-area: 2/1/4/3;
	font-size: 5vw;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 1.5vw;
}
.five {
	grid-area: 2/3/4/5;
	font-size: 5vw;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-left: 2vw;
}
