$waterFrontColor: #1bc1d6;
$waterBackColor: #255fb8;

$waterFrontColorWinner: #4dff55;
$waterBackColorWinner: #00995e;

$negativeSpaceColor: #ffffff;
$hiding: #5adbff00;

.water-Wrapper {
	display: flex;
	grid-area: 1/2/4/4;
	margin-top: 4.5vw;
	.beaker3ml {
		height: 6.1vw;
		width: 5.2vw;
		position: relative;
		top: 5.7vw;
		left: 5.3vw;
		overflow: hidden;
		-webkit-clip-path: polygon(
			1% 84%,
			4% 96%,
			14% 100%,
			84% 100%,
			95% 98%,
			100% 87%,
			100% 0,
			0 0
		);
		clip-path: polygon(
			1% 84%,
			4% 96%,
			14% 100%,
			84% 100%,
			95% 98%,
			100% 87%,
			100% 0,
			0 0
		);
	}
	.beaker5ml {
		height: 8.2vw;
		width: 7vw;
		position: relative;
		top: 5.8vw;
		left: 15.4vw;
		overflow: hidden;
		-webkit-clip-path: polygon(
			1% 84%,
			4% 96%,
			14% 100%,
			84% 100%,
			95% 98%,
			100% 87%,
			100% 0,
			0 0
		);
		clip-path: polygon(
			1% 84%,
			4% 96%,
			14% 100%,
			84% 100%,
			95% 98%,
			100% 87%,
			100% 0,
			0 0
		);
	}
	.water {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		transform: translate(0, 100%);
		background: $waterFrontColor;
		transition: all 0.4s;
		&_wave {
			width: 200%;
			position: absolute;
			bottom: 100%;
			&_back {
				right: 0;
				fill: $waterBackColor;
				animation: wave-back 1.4s infinite linear;
			}
			&_front {
				left: 0;
				fill: $waterFrontColor;
				margin-bottom: -1px;
				animation: wave-front 1.7s infinite linear;
			}
		}
	}
	.hide_ml3 {
		background: $hiding !important;
		fill: $hiding !important;
		transition: 1000ms;
	}
	.hide_ml5 {
		background: $hiding !important;
		fill: $hiding !important;
		transition: 1000ms;
	}
}

@keyframes wave-front {
	100% {
		transform: translate(-50%, 0);
	}
}

@keyframes wave-back {
	100% {
		transform: translate(50%, 0);
	}
}
