.rules {
  margin: 0;
  padding: 0rem 0rem 0rem 1rem; }

#mainBackground {
  will-change: transform;
  transition-duration: 3000ms;
  width: 100vw;
  height: 100vh;
  position: fixed;
  grid-template-columns: 18vw 32vw 32vw 18vw;
  grid-template-rows: 25vh 25vh 25vh 25vh;
  display: grid; }
  .theme-light #mainBackground {
    background: #ffffff; }
  .theme-dark #mainBackground {
    background: #000000; }

.title {
  will-change: transform;
  font-size: 5vw;
  margin: auto;
  font-weight: 300;
  grid-area: 1/2/2/4;
  text-align: center;
  margin-bottom: 13vh; }
  .theme-light .title {
    text-shadow: 0 0 9rem #000000;
    color: #000000; }
  .theme-dark .title {
    text-shadow: 0 0 9rem #ffffff;
    color: #ffffff; }
  .title .blue {
    font-size: 2vw;
    padding: 0 1vw; }
    .theme-light .title .blue {
      background: #5adbff; }
    .theme-dark .title .blue {
      background: #ff8c5a; }

.game {
  will-change: transform;
  grid-area: 2/2/2/2;
  height: 30vw;
  width: 64vw;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%); }
  .theme-light .game {
    box-shadow: 0 0 1vw #000000;
    background: #0000002b; }
  .theme-dark .game {
    box-shadow: 0 0 1vw #ffffff;
    background: #0000002b; }

.desc {
  will-change: transform;
  grid-area: 1/2/2/4;
  padding: 0vw 5vw 0vw 5vw;
  height: 3vw;
  margin-top: 14vh;
  display: inline-flex;
  font-size: 1vw; }
  .theme-light .desc {
    text-shadow: 0 0 6rem #000000;
    color: #000000; }
  .theme-dark .desc {
    text-shadow: 0 0 6rem #ffffff;
    color: #ffffff; }
  .desc .rules-Heading {
    grid-area: 1/2/2/4;
    text-align: center;
    width: 16vw;
    margin: 0; }

.desc--Challenge {
  will-change: transform;
  grid-area: 1/2/2/4;
  padding: 0vw 5vw 0vw 5vw;
  height: 3vw;
  margin-top: 20vh;
  display: inline-flex;
  font-size: 1vw; }
  .theme-light .desc--Challenge {
    text-shadow: 0 0 6rem #000000;
    color: #000000; }
  .theme-dark .desc--Challenge {
    text-shadow: 0 0 6rem #ffffff;
    color: #ffffff; }
  .desc--Challenge .rules-Challenge {
    grid-area: 1/2/2/4;
    width: 9vw;
    margin: 0; }

.devBy {
  will-change: transform;
  grid-area: 4/2/4/4;
  text-align: center;
  align-self: center;
  margin-top: 6vw; }
  .theme-light .devBy {
    color: #000000; }
  .theme-dark .devBy {
    color: #ffffff; }

.shameless-Plug {
  will-change: transform;
  grid-area: 4/2/4/4;
  text-align: center;
  align-self: center;
  margin-top: 2vw; }
  .theme-light .shameless-Plug {
    color: #000000; }
  .theme-dark .shameless-Plug {
    color: #ffffff; }
  .shameless-Plug .plug {
    text-decoration: none; }
    .theme-light .shameless-Plug .plug {
      color: #1ab2dd; }
    .theme-dark .shameless-Plug .plug {
      color: #dd441a; }
