.water-Wrapper {
  display: flex;
  grid-area: 1/2/4/4;
  margin-top: 4.5vw; }
  .water-Wrapper .beaker3ml {
    height: 6.1vw;
    width: 5.2vw;
    position: relative;
    top: 5.7vw;
    left: 5.3vw;
    overflow: hidden;
    -webkit-clip-path: polygon(1% 84%, 4% 96%, 14% 100%, 84% 100%, 95% 98%, 100% 87%, 100% 0, 0 0);
    clip-path: polygon(1% 84%, 4% 96%, 14% 100%, 84% 100%, 95% 98%, 100% 87%, 100% 0, 0 0); }
  .water-Wrapper .beaker5ml {
    height: 8.2vw;
    width: 7vw;
    position: relative;
    top: 5.8vw;
    left: 15.4vw;
    overflow: hidden;
    -webkit-clip-path: polygon(1% 84%, 4% 96%, 14% 100%, 84% 100%, 95% 98%, 100% 87%, 100% 0, 0 0);
    clip-path: polygon(1% 84%, 4% 96%, 14% 100%, 84% 100%, 95% 98%, 100% 87%, 100% 0, 0 0); }
  .water-Wrapper .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: all 0.4s; }
    .theme-light .water-Wrapper .water {
      background: #1bc1d6; }
    .theme-dark .water-Wrapper .water {
      background: #d6501b; }
    .water-Wrapper .water_wave {
      width: 200%;
      position: absolute;
      bottom: 100%; }
      .water-Wrapper .water_wave_back {
        right: 0;
        animation: wave-back 1.4s infinite linear; }
        .theme-light .water-Wrapper .water_wave_back {
          fill: #255fb8; }
        .theme-dark .water-Wrapper .water_wave_back {
          fill: #743f1c; }
      .water-Wrapper .water_wave_front {
        left: 0;
        margin-bottom: -1px;
        animation: wave-front 1.7s infinite linear; }
        .theme-light .water-Wrapper .water_wave_front {
          fill: #1bc1d6; }
        .theme-dark .water-Wrapper .water_wave_front {
          fill: #d6501b; }
  .water-Wrapper .hide_ml3 {
    background: #5adbff00 !important;
    fill: #5adbff00 !important;
    transition: 1000ms; }
  .water-Wrapper .hide_ml5 {
    background: #5adbff00 !important;
    fill: #5adbff00 !important;
    transition: 1000ms; }

@keyframes wave-front {
  100% {
    transform: translate(-50%, 0); } }

@keyframes wave-back {
  100% {
    transform: translate(50%, 0); } }
